@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Satoshi", sans-serif;
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.ease-out-back-smooth {
  transition-timing-function: cubic-bezier(0.18, 1.4, 0.53, 1);
}

.ease-out-smooth {
  transition-timing-function: cubic-bezier(0.03, 0.98, 0.52, 0.99);
}

.perspective-\[600px\] {
  --tw-perspective: 600px;
  perspective: var(--tw-perspective);
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
}

.-translate-x-1\/2,
.-translate-x-1\/3 {
  translate: var(--tw-translate-x) var(--tw-translate-y) var(--tw-translate-z);
}

.-translate-x-1\/3 {
  --tw-translate-x: -33.333333%;
}

.-translate-x-5 {
  --tw-translate-x: -1.25rem;
}

.-translate-x-5,
.-translate-x-full {
  translate: var(--tw-translate-x) var(--tw-translate-y) var(--tw-translate-z);
}

.-translate-x-full {
  --tw-translate-x: -100%;
}

.-translate-y-0 {
  --tw-translate-y: -0px;
}

.-translate-y-0,
.-translate-y-0\.5 {
  translate: var(--tw-translate-x) var(--tw-translate-y) var(--tw-translate-z);
}

.-translate-y-0\.5 {
  --tw-translate-y: -0.125rem;
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
}

.-translate-y-10,
.-translate-y-1\/2 {
  translate: var(--tw-translate-x) var(--tw-translate-y) var(--tw-translate-z);
}

.-translate-y-10 {
  --tw-translate-y: -2.5rem;
}

.-translate-y-24 {
  --tw-translate-y: -6rem;
}

.-translate-y-24,
.-translate-y-3 {
  translate: var(--tw-translate-x) var(--tw-translate-y) var(--tw-translate-z);
}

.-translate-y-3 {
  --tw-translate-y: -0.75rem;
  transform: translateZ(var(--tw-translate-z));
}

.-translate-y-4 {
  --tw-translate-y: -1rem;
  transform: translateZ(var(--tw-translate-z));
}

.-translate-y-4,
.-translate-y-5 {
  translate: var(--tw-translate-x) var(--tw-translate-y) var(--tw-translate-z);
}

.-translate-y-5 {
  --tw-translate-y: -1.25rem;
  transform: translateZ(var(--tw-translate-z));
}

.-translate-y-8 {
  --tw-translate-y: -2rem;
  transform: translateZ(var(--tw-translate-z));
}

.-translate-y-8,
.-translate-y-full {
  translate: var(--tw-translate-x) var(--tw-translate-y) var(--tw-translate-z);
}

.-translate-y-full {
  --tw-translate-y: -100%;
  transform: translateZ(var(--tw-translate-z));
}

.translate-x-0 {
  --tw-translate-x: 0px;
  transform: translateZ(var(--tw-translate-z));
}

.translate-x-0,
.translate-x-2 {
  translate: var(--tw-translate-x) var(--tw-translate-y) var(--tw-translate-z);
}

.translate-x-2 {
  --tw-translate-x: 0.5rem;
  transform: translateZ(var(--tw-translate-z));
}

.translate-x-5 {
  --tw-translate-x: 1.25rem;
  transform: translateZ(var(--tw-translate-z));
}

.translate-x-5,
.translate-y-0 {
  translate: var(--tw-translate-x) var(--tw-translate-y) var(--tw-translate-z);
}

.translate-y-0 {
  --tw-translate-y: 0px;
  transform: translateZ(var(--tw-translate-z));
}

.translate-y-0\.5 {
  --tw-translate-y: 0.125rem;
  transform: translateZ(var(--tw-translate-z));
}

.translate-y-0\.5,
.translate-y-20 {
  translate: var(--tw-translate-x) var(--tw-translate-y) var(--tw-translate-z);
}

.translate-y-20 {
  --tw-translate-y: 5rem;
  transform: translateZ(var(--tw-translate-z));
}

.translate-y-8 {
  --tw-translate-y: 2rem;
  transform: translateZ(var(--tw-translate-z));
}

.-translate-z-10,
.translate-y-8 {
  translate: var(--tw-translate-x) var(--tw-translate-y) var(--tw-translate-z);
}

.-translate-z-10 {
  --tw-translate-z: -2.5rem;
  transform: translateZ(var(--tw-translate-z));
}

.translate-z-2 {
  --tw-translate-z: 0.5rem;
  transform: translateZ(var(--tw-translate-z));
}

.translate-z-2,
.translate-z-4 {
  translate: var(--tw-translate-x) var(--tw-translate-y) var(--tw-translate-z);
}

.translate-z-4 {
  --tw-translate-z: 1rem;
  transform: translateZ(var(--tw-translate-z));
}

.translate-z-6 {
  --tw-translate-z: 1.5rem;
  transform: translateZ(var(--tw-translate-z));
}

.translate-z-6,
.translate-z-\[1000px\] {
  translate: var(--tw-translate-x) var(--tw-translate-y) var(--tw-translate-z);
}

.translate-z-\[1000px\] {
  --tw-translate-z: 1000px;
}

.translate-z-\[1205px\] {
  --tw-translate-z: 1205px;
  translate: var(--tw-translate-x) var(--tw-translate-y) var(--tw-translate-z);
}

.translate-z-\[1000px\] {
  --tw-translate-z: 1000px;
  translate: var(--tw-translate-x) var(--tw-translate-y) var(--tw-translate-z);
}
